<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- fuente para titulos, menu, botones y links -->
        <link rel="stylesheet" href="https://use.typekit.net/ltv7aza.css">
        <!-- fuente para textos -->
        <link rel="stylesheet" href="https://use.typekit.net/qqp3hjl.css">
        <!-- Archivo CSS -->
        <link rel="../style.css">
        <title>Home</title>
    </head>
    <body>
        <main className='homeContainer' >
            <div className='logoHome'>
                <a href="/products">
                    <img src='../images/music-toggle-pause-to-play.svg' alt='imagen logo' className='logoHomeImg homeImageOne'/>
                    <img src='../images/music-toggle-play-to-pause.svg' alt='imagen logo' className='logoHomeImg homeImageTwo'/>
                </a>
            </div>
        </main>
    </body>
</html>