<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- fuente para titulos, menu, botones y links -->
        <link rel="stylesheet" href="https://use.typekit.net/ltv7aza.css">
        <!-- fuente para textos -->
        <link rel="stylesheet" href="https://use.typekit.net/qqp3hjl.css">
        <!-- Archivo CSS -->
        <link rel="../style.css">
        <title>404 NOT FOUND</title>
    </head>
    <body>
        <section className='notFound'>
            <h1 className='error404'>* NOT FOUND 404 *</h1>
            <p className='backgroundDecoration one'>¿?</p>
            <p className='backgroundDecoration two'>¿?</p>
            <p className='backgroundDecoration three'>¿?</p>
            <p className='backgroundDecoration four'>¿?</p>
            <p className='backgroundDecoration five'>¿?</p>
            <img className='backgroundImage' src='../images/footer-background.svg' alt='imagen brand mascot fondo' />
            <a className='goBackButton' href="/">Volver a Productos</a>
        </section>
    </body>
</html>
