<footer className="shopContacto contacto" id="contacto">
    <img src="../../images/footer-background.svg" alt="imagen mascot de marca" className="footerBackground" />
    <nav className="contactoContainer">
        <a href="/home" className="backToTop">RÄW</a>
        <div className="whatsapp redesLink">
            <a href="https://wa.me/xxxxxxxxxx">
                <img src="../../images/whatsapp-logo.svg"  alt="imagen logo Whatsapp" />
            </a>
            <a href="https://wa.me/xxxxxxxxxx">Whatsapp</a>
        </div>
        <div className="instagram redesLink">
            <a href="http://www.instagram.com/raw.cosmetica">
                <img src="../../images/instagram-logo.svg" alt="imagen logo Instagram" />
            </a>
            <a href="http://www.instagram.com/raw.cosmetica">Instagram</a>
        </div>
        <h3 className="local">*No tenemos local</h3>
        <div className="tarjetas">
            <h4>*Medios de pago</h4>
            <div>
                <img src="../../images/visaLogo.png" alt="imagen logo Visa" />
                <img src="../../images/americanexpressLogo.png" alt="imagen logo American Express" />
                <img src="../../images/mastercardLogo.png" alt="imagen logo Mastercard" />
            </div>
            <div>
                <img src="../../images/cabalLogo.png" alt="imagen logo Cabal" />
                <img src="../../images/banelcoLogo.png" alt="imagen logo Banelco" />
                <img src="../../images/argencardLogo.png" alt="imagen logo Argencard" />
            </div>
            <div>
                <img src="../../images/nativaLogo.png" alt="imagen logo Nativa" />
                <img src="../../images/rapipagoLogo.png" alt="imagen logo Rapipago" />
                <img src="../../images/pagofacilLogo.png" alt="imagen logo Pago Facil" />
            </div>
        </div>
        <div className="envios">
            <h4>*Envíos a todo el país</h4>
            <img src="../../images/ocaLogo.png" alt="imagen logo Oca" />
        </div>
    </nav>
</footer>